In [88]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)

import sqlalchemy

In [99]:
import sqlalchemy as db

In [100]:
engine = db.create_engine('sqlite:///mydb2.db')

In [101]:
conn = engine.connect()

In [102]:
metadata = db.MetaData()

In [103]:
dir(db)

['ARRAY',
 'AdaptedConnection',
 'Alias',
 'AliasedReturnsRows',
 'Any',
 'AssertionPool',
 'AsyncAdaptedQueuePool',
 'BIGINT',
 'BINARY',
 'BLANK_SCHEMA',
 'BLOB',
 'BOOLEAN',
 'BaseDDLElement',
 'BaseRow',
 'BigInteger',
 'BinaryExpression',
 'BindParameter',
 'BindTyping',
 'Boolean',
 'BooleanClauseList',
 'CHAR',
 'CLOB',
 'CTE',
 'CacheKey',
 'Case',
 'Cast',
 'CheckConstraint',
 'ChunkedIteratorResult',
 'ClauseElement',
 'ClauseList',
 'CollectionAggregate',
 'Column',
 'ColumnClause',
 'ColumnCollection',
 'ColumnDefault',
 'ColumnElement',
 'ColumnExpressionArgument',
 'ColumnOperators',
 'Compiled',
 'CompoundSelect',
 'Computed',
 'Connection',
 'Constraint',
 'CreateEnginePlugin',
 'CursorResult',
 'DATE',
 'DATETIME',
 'DDL',
 'DDLElement',
 'DECIMAL',
 'DOUBLE',
 'DOUBLE_PRECISION',
 'Date',
 'DateTime',
 'DefaultClause',
 'Delete',
 'Dialect',
 'Double',
 'Engine',
 'Enum',
 'ExceptionContext',
 'Executable',
 'ExecutableDDLElement',
 'ExecutionContext',
 'Exists',
 'Extract',
 'FLOAT',
 'FallbackAsyncAdaptedQueuePool',
 'False_',
 'FetchedValue',
 'Float',
 'ForeignKey',
 'ForeignKeyConstraint',
 'FromClause',
 'FromGrouping',
 'FrozenResult',
 'Function',
 'FunctionElement',
 'FunctionFilter',
 'GenerativeSelect',
 'Grouping',
 'HasCTE',
 'HasPrefixes',
 'HasSuffixes',
 'INT',
 'INTEGER',
 'Identity',
 'Index',
 'Insert',
 'Inspector',
 'Integer',
 'Interval',
 'IteratorResult',
 'JSON',
 'Join',
 'LABEL_STYLE_DEFAULT',
 'LABEL_STYLE_DISAMBIGUATE_ONLY',
 'LABEL_STYLE_NONE',
 'LABEL_STYLE_TABLENAME_PLUS_COL',
 'Label',
 'LambdaElement',
 'LargeBinary',
 'Lateral',
 'MappingResult',
 'MergedResult',
 'MetaData',
 'NCHAR',
 'NUMERIC',
 'NVARCHAR',
 'NestedTransaction',
 'NotNullable',
 'Null',
 'NullPool',
 'Nullable',
 'Numeric',
 'Operators',
 'Over',
 'PickleType',
 'Pool',
 'PoolProxiedConnection',
 'PoolResetState',
 'PrimaryKeyConstraint',
 'QueuePool',
 'REAL',
 'ReleaseSavepointClause',
 'Result',
 'ResultProxy',
 'ReturnsRows',
 'RollbackToSavepointClause',
 'RootTransaction',
 'Row',
 'RowMapping',
 'SMALLINT',
 'SQLColumnExpression',
 'SavepointClause',
 'ScalarResult',
 'ScalarSelect',
 'Select',
 'SelectBase',
 'SelectLabelStyle',
 'Selectable',
 'Sequence',
 'SingletonThreadPool',
 'SmallInteger',
 'StatementLambdaElement',
 'StaticPool',
 'String',
 'Subquery',
 'TEXT',
 'TIME',
 'TIMESTAMP',
 'Table',
 'TableClause',
 'TableSample',
 'TableValuedAlias',
 'Text',
 'TextAsFrom',
 'TextClause',
 'TextualSelect',
 'Time',
 'Transaction',
 'True_',
 'TryCast',
 'Tuple',
 'TupleType',
 'TwoPhaseTransaction',
 'TypeClause',
 'TypeCoerce',
 'TypeCompiler',
 'TypeDecorator',
 'URL',
 'UUID',
 'UnaryExpression',
 'Unicode',
 'UnicodeText',
 'UniqueConstraint',
 'Update',
 'UpdateBase',
 'Uuid',
 'VARBINARY',
 'VARCHAR',
 'Values',
 'ValuesBase',
 'Visitable',
 'WithinGroup',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__getattr__',
 '__go',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_util',
 'alias',
 'all_',
 'and_',
 'annotations',
 'any_',
 'asc',
 'between',
 'bindparam',
 'bitwise_not',
 'case',
 'cast',
 'collate',
 'column',
 'create_engine',
 'create_mock_engine',
 'create_pool_from_url',
 'cte',
 'custom_op',
 'cyextension',
 'delete',
 'desc',
 'dialects',
 'distinct',
 'engine',
 'engine_from_config',
 'event',
 'exc',
 'except_',
 'except_all',
 'exists',
 'extract',
 'false',
 'func',
 'funcfilter',
 'insert',
 'insert_sentinel',
 'inspect',
 'inspection',
 'intersect',
 'intersect_all',
 'join',
 'label',
 'lambda_stmt',
 'lateral',
 'literal',
 'literal_column',
 'log',
 'make_url',
 'modifier',
 'not_',
 'null',
 'nulls_first',
 'nulls_last',
 'nullsfirst',
 'nullslast',
 'or_',
 'outerjoin',
 'outparam',
 'over',
 'pool',
 'quoted_name',
 'result_tuple',
 'schema',
 'select',
 'sql',
 'table',
 'tablesample',
 'text',
 'true',
 'try_cast',
 'tuple_',
 'type_coerce',
 'types',
 'union',
 'union_all',
 'update',
 'util',
 'values',
 'within_group']

In [104]:
students = db.Table(
    'Students', metadata,
    db.Column('id', db.Integer, primary_key=True),
    db.Column('name', db.Text),
    db.Column('age', db.Integer),
    db.Column('average_point', db.Numeric)
)
students

Table('Students', MetaData(), Column('id', Integer(), table=<Students>, primary_key=True, nullable=False), Column('name', Text(), table=<Students>), Column('age', Integer(), table=<Students>), Column('average_point', Numeric(), table=<Students>), schema=None)

In [105]:
subjects = db.Table(
    'Subjects', metadata,
    db.Column('id', db.Integer, primary_key=True),
    db.Column('id_student', db.Integer),
    db.Column('name_subject', db.Text),
    db.Column('point', db.Integer)
)
subjects

Table('Subjects', MetaData(), Column('id', Integer(), table=<Subjects>, primary_key=True, nullable=False), Column('id_student', Integer(), table=<Subjects>), Column('name_subject', Text(), table=<Subjects>), Column('point', Integer(), table=<Subjects>), schema=None)

In [106]:
metadata.create_all(engine)

In [107]:
insertion = students.insert().values([
    {'id': '1', 'name': 'Иван', 'age': 20, 'average_point': 7.5},
    {'id': '2', 'name': 'Петр', 'age': 19, 'average_point': 8.1},
    {'id': '3', 'name': 'Василий', 'age': 21, 'average_point': 6.9}

])

In [108]:
conn.execute(insertion)

In [109]:
select_all_query = db.select(students)
select_result = conn.execute(select_all_query)
select_result

In [110]:
select_result.fetchall()

[(1, 'Иван', 20, Decimal('7.5000000000')),
 (2, 'Петр', 19, Decimal('8.1000000000')),
 (3, 'Василий', 21, Decimal('6.9000000000'))]

In [111]:
select_all_query = db.select(students).where(students.columns.age >= 20)
select_result = conn.execute(select_all_query)
select_result.fetchall()

[(1, 'Иван', 20, Decimal('7.5000000000')),
 (3, 'Василий', 21, Decimal('6.9000000000'))]

In [112]:
insertion = students.insert().values([
    {'id': '4', 'name': 'Игорь', 'age': 22, 'average_point': 8.2}
     
])

In [113]:
conn.execute(insertion)

In [114]:
select_all_query = db.select(students)
select_result = conn.execute(select_all_query)
select_result.fetchall()

[(1, 'Иван', 20, Decimal('7.5000000000')),
 (2, 'Петр', 19, Decimal('8.1000000000')),
 (3, 'Василий', 21, Decimal('6.9000000000')),
 (4, 'Игорь', 22, Decimal('8.2000000000'))]

In [115]:
update_query = db.update(students).where(students.columns.id == 4).values(average_point=9.3)

In [116]:
conn.execute(update_query)

In [117]:
select_all_query = db.select(students)
select_result = conn.execute(select_all_query)
select_result.fetchall()

[(1, 'Иван', 20, Decimal('7.5000000000')),
 (2, 'Петр', 19, Decimal('8.1000000000')),
 (3, 'Василий', 21, Decimal('6.9000000000')),
 (4, 'Игорь', 22, Decimal('9.3000000000'))]

In [118]:
delete_query = db.delete(students).where(students.columns.id == 3)
conn.execute(delete_query)

In [119]:
select_all_query = db.select(students)
select_result = conn.execute(select_all_query)
select_result.fetchall()

[(1, 'Иван', 20, Decimal('7.5000000000')),
 (2, 'Петр', 19, Decimal('8.1000000000')),
 (4, 'Игорь', 22, Decimal('9.3000000000'))]

In [121]:
insertion = subjects.insert().values([
    {'id': '1', 'id_student': '1','name_subject': 'Math', 'point': 6},
    {'id': '2', 'id_student': '1','name_subject': 'Economics', 'point': 8},
    {'id': '3', 'id_student': '2','name_subject': 'Math', 'point': 7},
    {'id': '4', 'id_student': '4','name_subject': 'Math', 'point': 8}
])

In [122]:
conn.execute(insertion)

In [123]:
select_all_query = db.select(subjects)
select_result = conn.execute(select_all_query)
select_result.fetchall()

[(1, 1, 'Math', 6),
 (2, 1, 'Economics', 8),
 (3, 2, 'Math', 7),
 (4, 4, 'Math', 8)]

In [156]:
join_query = db.select(
    students, subjects.columns.name_subject
).select_from(
    students.join(subjects, subjects.columns.id_student == students.columns.id)
)

In [158]:
join_query2 = db.select(
    students, subjects.columns.name_subject
).join(subjects, subjects.columns.id_student == students.columns.id)

In [161]:
conn.execute(join_query2)

In [163]:
select_result = conn.execute(join_query2)
select_result.fetchall()

[(1, 'Иван', 20, Decimal('7.5000000000'), 'Math'),
 (1, 'Иван', 20, Decimal('7.5000000000'), 'Economics'),
 (2, 'Петр', 19, Decimal('8.1000000000'), 'Math'),
 (4, 'Игорь', 22, Decimal('9.3000000000'), 'Math')]

In [164]:
conn.execute(join_query)

In [165]:
select_result = conn.execute(join_query)
select_result.fetchall()

[(1, 'Иван', 20, Decimal('7.5000000000'), 'Math'),
 (1, 'Иван', 20, Decimal('7.5000000000'), 'Economics'),
 (2, 'Петр', 19, Decimal('8.1000000000'), 'Math'),
 (4, 'Игорь', 22, Decimal('9.3000000000'), 'Math')]

In [180]:
join_query3 = db.select(
    students, subjects
).join(subjects, subjects.columns.id_student == students.columns.id)

In [181]:
conn.execute(join_query3)

In [182]:
select_result = conn.execute(join_query3)
select_result.fetchall()

[(1, 'Иван', 20, Decimal('7.5000000000'), 1, 1, 'Math', 6),
 (1, 'Иван', 20, Decimal('7.5000000000'), 2, 1, 'Economics', 8),
 (2, 'Петр', 19, Decimal('8.1000000000'), 3, 2, 'Math', 7),
 (4, 'Игорь', 22, Decimal('9.3000000000'), 4, 4, 'Math', 8)]

In [173]:
join_query4 = db.select(
    students, subjects
).outerjoin(subjects, subjects.columns.id_student == students.columns.id)

In [174]:
conn.execute(join_query4) 
select_result = conn.execute(join_query4)
select_result.fetchall()

[(1, 'Иван', 20, Decimal('7.5000000000'), 2, 1, 'Economics', 8),
 (1, 'Иван', 20, Decimal('7.5000000000'), 1, 1, 'Math', 6),
 (2, 'Петр', 19, Decimal('8.1000000000'), 3, 2, 'Math', 7),
 (4, 'Игорь', 22, Decimal('9.3000000000'), 4, 4, 'Math', 8)]

In [175]:
insertion = students.insert().values([
    {'id': '5', 'name': 'Света', 'age': 20, 'average_point': 7.2}
     
])

In [176]:
conn.execute(insertion)

In [177]:
select_all_query = db.select(students)
select_result = conn.execute(select_all_query)
select_result.fetchall()

[(1, 'Иван', 20, Decimal('7.5000000000')),
 (2, 'Петр', 19, Decimal('8.1000000000')),
 (4, 'Игорь', 22, Decimal('9.3000000000')),
 (5, 'Света', 20, Decimal('7.2000000000'))]

In [178]:
join_query4 = db.select(
    students, subjects
).outerjoin(subjects, subjects.columns.id_student == students.columns.id)

In [179]:
conn.execute(join_query4) 
select_result = conn.execute(join_query4)
select_result.fetchall()

[(1, 'Иван', 20, Decimal('7.5000000000'), 2, 1, 'Economics', 8),
 (1, 'Иван', 20, Decimal('7.5000000000'), 1, 1, 'Math', 6),
 (2, 'Петр', 19, Decimal('8.1000000000'), 3, 2, 'Math', 7),
 (4, 'Игорь', 22, Decimal('9.3000000000'), 4, 4, 'Math', 8),
 (5, 'Света', 20, Decimal('7.2000000000'), None, None, None, None)]

In [183]:
select_all_query = db.select(students)
select_result = conn.execute(select_all_query)
select_result.fetchall()

[(1, 'Иван', 20, Decimal('7.5000000000')),
 (2, 'Петр', 19, Decimal('8.1000000000')),
 (4, 'Игорь', 22, Decimal('9.3000000000')),
 (5, 'Света', 20, Decimal('7.2000000000'))]

In [185]:
order = db.select(students).order_by(students.columns.age)
select_result = conn.execute(order)
select_result.fetchall()

[(2, 'Петр', 19, Decimal('8.1000000000')),
 (1, 'Иван', 20, Decimal('7.5000000000')),
 (5, 'Света', 20, Decimal('7.2000000000')),
 (4, 'Игорь', 22, Decimal('9.3000000000'))]

In [198]:
group = db.select(
    students.columns.name, 
    db.func.avg(students.columns.average_point).label('avg_point_per_name')
).group_by(
    students.columns.name 
)

In [200]:
select_result = conn.execute(group)
select_result.fetchall()

[('Иван', 7.5), ('Игорь', 9.3), ('Петр', 8.1), ('Света', 7.2)]

In [205]:
select_all_query = db.select(subjects)
select_result = conn.execute(select_all_query)
select_result.fetchall()

[(1, 1, 'Math', 6),
 (2, 1, 'Economics', 8),
 (3, 2, 'Math', 7),
 (4, 4, 'Math', 8)]

In [206]:
group2 = db.select(
    subjects.columns.name_subject, 
    db.func.avg(subjects.columns.point).label('avg_point')
).group_by(
    subjects.columns.name_subject 
)

In [207]:
select_result = conn.execute(group2)
select_result.fetchall()

[('Economics', 8.0), ('Math', 7.0)]